In [2]:
a = 20 
b = 30 
if a<b :
    pass

In [5]:
a = int(input("enter number"))
print(a)

11

In [9]:
## type casting
a = float(2)
print(type(a))

<class 'float'>

In [18]:
##prime number check 
# x = int(input("enter number"))
# if x%x==0 :
#     print("number is prime")
# else :
#     print("number not prime")

# LOOP

itearting over a seq 

loops are of 2 types:

1 for

2 while

In [25]:
fruits = ["apple","banana","cherry","melon"]
for x in fruits:  
    print(x)

apple
banana
cherry
melon

In [26]:
for n in "UPFLAIRS":
    print(n)

U
P
F
L
A
I
R
S

In [ ]:
## break
## continue

In [31]:
# break statement
fruits = ["apple","banana","cherry","melon"]
for item in fruits:
    print(item)
    if item == "banana":
        break
    # print(item)

apple

In [33]:
fruits = ["apple","banana","cherry","melon"]
for item in fruits:
    
    if item == "banana":
        continue
    print(item)

apple
cherry
melon

In [37]:
for x in range(2,7):
    print(x)

2
3
4
5
6

In [39]:
## esle 
for x in range(6):
    print(x)
else:
    print("finish")

0
1
2
3
4
5
finish

In [40]:
for x in range(6):
    if x==3: break
    print(x)
else:
    print("finish")

0
1
2

In [45]:
##nested loop
list1 = ["apple","banana","cherry"]
list2 = ["red","black","green"]

for x in list1:
    for y in list2:
        print(y)
        print(x)

red
apple
black
apple
green
apple
red
banana
black
banana
green
banana
red
cherry
black
cherry
green
cherry

In [47]:
name = "upflairs pvt  ltd jaipur"
for char in name:
    if char =="8":
        print("numerical")
    else:
        print("hi")

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [50]:
per = [50 ,60,34,67,10]
for item in per:
    if item<=30:
        print(item,"fail")
    else:
        print(item,"pass")

50 pass
60 pass
34 pass
67 pass
10 fail

In [51]:
per = (50 ,60,34,67,10)
for item in per:
    if item%2==0:
        print(item,"even")
    else:
        print(item,"odd")

50 even
60 even
34 even
67 odd
10 even

In [64]:
dt = {
    "name": "upflairs",
    "branch":"jaipur",
    "type": "pvt"
}
for x in dt.items():
    print(x)
    # print(" ".join(dt))

('name', 'upflairs')
('branch', 'jaipur')
('type', 'pvt')

In [ ]:
#table