In [2]:
a = 20 
b = 30 
if a<b :
    pass

In [5]:
a = int(input("enter number"))
print(a)

11

In [9]:
## type casting
a = float(2)
print(type(a))

<class 'float'>

In [18]:
##prime number check 
# x = int(input("enter number"))
# if x%x==0 :
#     print("number is prime")
# else :
#     print("number not prime")

# LOOP

itearting over a seq 

loops are of 2 types:

1 for

2 while

In [25]:
fruits = ["apple","banana","cherry","melon"]
for x in fruits:  
    print(x)

apple
banana
cherry
melon

In [26]:
for n in "UPFLAIRS":
    print(n)

U
P
F
L
A
I
R
S

In [ ]:
## break
## continue

In [31]:
# break statement
fruits = ["apple","banana","cherry","melon"]
for item in fruits:
    print(item)
    if item == "banana":
        break
    # print(item)

apple

In [33]:
fruits = ["apple","banana","cherry","melon"]
for item in fruits:
    
    if item == "banana":
        continue
    print(item)

apple
cherry
melon

In [37]:
for x in range(2,7):
    print(x)

2
3
4
5
6

In [39]:
## esle 
for x in range(6):
    print(x)
else:
    print("finish")

0
1
2
3
4
5
finish

In [40]:
for x in range(6):
    if x==3: break
    print(x)
else:
    print("finish")

0
1
2

In [45]:
##nested loop
list1 = ["apple","banana","cherry"]
list2 = ["red","black","green"]

for x in list1:
    for y in list2:
        print(y)
        print(x)

red
apple
black
apple
green
apple
red
banana
black
banana
green
banana
red
cherry
black
cherry
green
cherry

In [47]:
name = "upflairs pvt  ltd jaipur"
for char in name:
    if char =="8":
        print("numerical")
    else:
        print("hi")

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [50]:
per = [50 ,60,34,67,10]
for item in per:
    if item<=30:
        print(item,"fail")
    else:
        print(item,"pass")

50 pass
60 pass
34 pass
67 pass
10 fail

In [51]:
per = (50 ,60,34,67,10)
for item in per:
    if item%2==0:
        print(item,"even")
    else:
        print(item,"odd")

50 even
60 even
34 even
67 odd
10 even

In [64]:
dt = {
    "name": "upflairs",
    "branch":"jaipur",
    "type": "pvt"
}
for x in dt.items():
    print(x)
    # print(" ".join(dt))

('name', 'upflairs')
('branch', 'jaipur')
('type', 'pvt')

In [ ]:
#table

In [6]:
## for 
lst = ["red","black","green","a","b"]      ###iterable 
for x in lst:
    print(x)

red
black
green
a
b

In [4]:
st = "upflairs"
for letter in st:
    print(letter)

u
p
f
l
a
i
r
s

In [10]:
### break //////continue

lst = [1,2,3,4,5]
for i in lst:
    # print(i)
    if i==3:
        break
    print(i)

1
2

In [12]:
lst = [1,2,3,4,5]
for i in lst:
    # print(i)
    if i==3:
        continue

    print(i)

1
2
4
5

In [15]:
tpl = ("apple","banana","cherry")
for item in tpl:
    if item =="banana":
        break
    print(item)

apple

In [16]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [17]:
for i in range(4,10):
    print(i)

4
5
6
7
8
9

In [20]:
for i in range(5,20):
    if i ==15:
        break
    print(i)
else:
    print("finish")

5
6
7
8
9
10
11
12
13
14

In [26]:
### nested loop
lst1 = ["apple","banana","cherry"]
lst2 = ["red","black","grey"]
for i in lst1:
    for j in lst2:
        print(i,j)
        # print(j)

apple red
apple black
apple grey
banana red
banana black
banana grey
cherry red
cherry black
cherry grey

In [28]:
name = "upflairs pvt 8 ltd jaipur"
for char in name:
    if char =="8":
        print("numerical")
    else:
        print("hi")

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
numerical
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [30]:
tpl = (12,3,4,556,63,112,23)
for i in tpl:
    if i%2==0:
        print('even numbber',i)
    else:
        print("odd num",i)

even numbber 12
odd num 3
even numbber 4
even numbber 556
odd num 63
even numbber 112
odd num 23

In [46]:
dt = {
    "china": 10,
    "India":8,
    "Japan":5 
}
for x,y in dt.items():
    if y>5:
        print("winners",x)
    elif y==5:
        print("losers",x)
    else:
        print("byeee")
    # print(" ".join(x))

winners china
winners India
losers Japan

In [47]:
y = int(input("enter number"))
for i in range(1,11):            
   print(f"{y}  * {i}  = {y*i }"  )

5  * 1  = 5
5  * 2  = 10
5  * 3  = 15
5  * 4  = 20
5  * 5  = 25
5  * 6  = 30
5  * 7  = 35
5  * 8  = 40
5  * 9  = 45
5  * 10  = 50

In [50]:
i = 1
while i<=10:
    print(i)
    i +=1

1
2
3
4
5
6
7
8
9
10